env
.dockerignore
Dockerfile
tests/
.github/
.dvc/
docs/
notebooks/
.gitignore
.pre-commit-config.yaml
data.dvc
docker-compose.yml
Makefile
pyproject.toml
README.md
requirements-dev.txt
requirements-test.txt
.dvcignore
.git
.idea
.mypy_cache
.pytest_cache
.ruff_cache
